body{
	margin: 0;
}

header{
	background: #5fc0cd;
	height: 2.6rem;
	position: fixed;
	top:0;
	width:100%;
}



a{text-decoration: none;}

header .close{
	float:left;
	line-height:2.6rem;
	padding-left:.75rem;
	color: #fff;

}

header  h3,.loginBtn{
	text-align: center;
	color: white;
	margin: 0;
	line-height: 2.6rem;
}
header .register{
	float:right;
	padding-right:.75rem;
	color: #fff;
	margin-top:-2.0rem;

}
 .login{
	margin:1rem .75rem;
	margin-top:3rem;
}

img{
	width: 20px;
	padding-right: 23px;
	border-right:1px solid #eaedee ;
	vertical-align: middle;
	max-width: 100%;
}
input{

	border: 0;
	padding: 0;


}

.regiBtn{
	background: #5fc0cd;
	height: 2.6rem;
	
	text-align: center;
}
.forgetpwd{
	display: block;
	right: .75rem;
	color: #5fc0cd;
	text-align: right;
}